<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap --> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>GWPC Check-in 2.0 - Sign up</title>
</head>
<body>

   <!-- Electron dependencies -->
   <script>
        const { ipcRenderer } = require('electron');
        const { execSync } = require('child_process');
        const pythonCommand = process.platform === "win32" ? "py" : "python3";
    </script>

    <!-- Main body -->
    <div class="container pt-3">
        <form class="border rounded p-3" id="signup-form">
            <legend class="text-light">Sign up</legend>
            <div class="mb-3">
                <label for="form-name" class="form-label text-light">Full name<span class="text-danger">*</span></label>
                <input type="text" name="form-name" id="form-name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="form-email" class="form-label text-light">School email<span class="text-danger">*</span></label>
                <input type="email" name="form-email" id="form-email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="form-phonenumber" class="form-label text-light">Phone number<span class="text-danger">*</span></label>
                <input type="number" name="form-phonenumber" id="form-phonenumber" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="form-address" class="form-label text-light">Address<span class="text-danger">*</span></label>
                <input type="text" name="form-address" id="form-address" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="form-studentid" class="form-label text-light">Student ID<span class="text-danger">*</span></label>
                <input type="tel" name="form-studentid" id="form-studentid" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" id="checkin-btn">Sign up</button>
            <button class="btn btn-danger" onclick="window.close()">Cancel</button>
        </form>
    </div>

    <!-- Bootstrap --> <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="../public/js/signup.js"></script>
    <script src="../public/js/offline.js"></script>
</body>
</html>